@layer reset, base, tokens, recipes, utilities;

@layer reset{
  html,:host {
    --font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    font-family: var(--global-font-body, var(--font-fallback));
}

  *,::before,::after,::backdrop,::file-selector-button {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: var(--global-color-border, currentcolor);
}

  hr {
    height: 0px;
    color: inherit;
    border-top-width: 1px;
}

  body {
    height: 100%;
    line-height: inherit;
}

  img {
    border-style: none;
}

  img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle;
}

  img,video {
    max-width: 100%;
    height: auto;
}

  h1,h2,h3,h4,h5,h6 {
    text-wrap: balance;
    font-size: inherit;
    font-weight: inherit;
}

  p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word;
}

  ol,ul,menu {
    list-style: none;
}

  button,input:where([type='button'], [type='reset'], [type='submit']),::file-selector-button {
    appearance: button;
    -webkit-appearance: button;
}

  button,input,optgroup,select,textarea,::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    background: transparent;
}

  ::placeholder {
    opacity: 1;
    --placeholder-fallback: rgba(0, 0, 0, 0.5);
    color: var(--global-color-placeholder, var(--placeholder-fallback));
}

  @supports (not (-webkit-appearance: -apple-pay-button)) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      --placeholder-fallback: color-mix(in oklab, currentcolor 50%, transparent);
}
}

  textarea {
    resize: vertical;
}

  table {
    text-indent: 0px;
    border-collapse: collapse;
    border-color: inherit;
}

  summary {
    display: list-item;
}

  small {
    font-size: 80%;
}

  sub,sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

  sub {
    bottom: -0.25em;
}

  sup {
    top: -0.5em;
}

  dialog {
    padding: 0px;
}

  a {
    color: inherit;
    text-decoration: inherit;
}

  abbr:where([title]) {
    text-decoration: underline dotted;
}

  b,strong {
    font-weight: bolder;
}

  code,kbd,samp,pre {
    --font-mono-fallback: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New';
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-family: var(--global-font-mono, var(--font-mono-fallback));
    font-size: 1em;
}

  progress {
    vertical-align: baseline;
}

  ::-webkit-search-decoration,::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

  ::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto;
}

  :-moz-ui-invalid {
    box-shadow: none;
}

  :-moz-focusring {
    outline: auto;
}

  [hidden]:where(:not([hidden='until-found'])) {
    display: none !important;
}
}

@layer base{
  :root {
    --made-with-panda: '🐼';
}

  #root,html,body {
    height: 100vh;
}

  html,body {
    margin: 0;
    padding: 0;
}

  div {
    display: flex;
}

  *,::before,::after,::backdrop {
    --blur: /*-*/ /*-*/;
    --brightness: /*-*/ /*-*/;
    --contrast: /*-*/ /*-*/;
    --grayscale: /*-*/ /*-*/;
    --hue-rotate: /*-*/ /*-*/;
    --invert: /*-*/ /*-*/;
    --saturate: /*-*/ /*-*/;
    --sepia: /*-*/ /*-*/;
    --drop-shadow: /*-*/ /*-*/;
    --backdrop-blur: /*-*/ /*-*/;
    --backdrop-brightness: /*-*/ /*-*/;
    --backdrop-contrast: /*-*/ /*-*/;
    --backdrop-grayscale: /*-*/ /*-*/;
    --backdrop-hue-rotate: /*-*/ /*-*/;
    --backdrop-invert: /*-*/ /*-*/;
    --backdrop-opacity: /*-*/ /*-*/;
    --backdrop-saturate: /*-*/ /*-*/;
    --backdrop-sepia: /*-*/ /*-*/;
    --gradient-from-position: /*-*/ /*-*/;
    --gradient-to-position: /*-*/ /*-*/;
    --gradient-via-position: /*-*/ /*-*/;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --rotate-x: 0;
    --rotate-y: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
}
}

@layer tokens{
  :where(:root, :host) {
    --colors-b-black: #333333;
    --colors-b-white: #FAFAFA;
    --colors-b-primary-shades-s00: #273dff00;
    --colors-b-primary-shades-s01: #273dff1a;
    --colors-b-primary-shades-s02: #273dff33;
    --colors-b-primary-shades-s03: #273dff4d;
    --colors-b-primary-shades-s04: #273dff66;
    --colors-b-primary-shades-s05: #273dff80;
    --colors-b-primary-shades-s06: #273dff99;
    --colors-b-primary-shades-s07: #273dffb3;
    --colors-b-primary-shades-s08: #273dffcc;
    --colors-b-primary-shades-s09: #273dffe6;
    --colors-b-primary-shades-s10: #273dff;
    --colors-b-primary-scales-s00: #000069;
    --colors-b-primary-scales-s01: #000077;
    --colors-b-primary-scales-s02: #0000a2;
    --colors-b-primary-scales-s03: #0008c0;
    --colors-b-primary-scales-s04: #0023df;
    --colors-b-primary-scales-s05: #273dffff;
    --colors-b-primary-scales-s06: #5251ff;
    --colors-b-primary-scales-s07: #7366ff;
    --colors-b-primary-scales-s08: #9e86ff;
    --colors-b-primary-scales-s09: #b99dff;
    --colors-b-primary-scales-s10: #c7a8ff;
    --colors-b-info: #0B2EF1;
    --colors-b-yellow: #FCD53F;
    --colors-b-grey-shades-s00: #88888800;
    --colors-b-grey-shades-s01: #8888881a;
    --colors-b-grey-shades-s02: #88888833;
    --colors-b-grey-shades-s03: #8888884d;
    --colors-b-grey-shades-s04: #88888866;
    --colors-b-grey-shades-s05: #88888880;
    --colors-b-grey-shades-s06: #88888899;
    --colors-b-grey-shades-s07: #888888b3;
    --colors-b-grey-shades-s08: #888888cc;
    --colors-b-grey-shades-s09: #888888e6;
    --colors-b-grey-shades-s10: #888888;
    --colors-b-grey-scales-s00: #0b0b0b;
    --colors-b-grey-scales-s01: #181818;
    --colors-b-grey-scales-s02: #3a3a3a;
    --colors-b-grey-scales-s03: #535353;
    --colors-b-grey-scales-s04: #6d6d6d;
    --colors-b-grey-scales-s05: #888;
    --colors-b-grey-scales-s06: #9e9e9e;
    --colors-b-grey-scales-s07: #b4b4b4;
    --colors-b-grey-scales-s08: #d6d6d6;
    --colors-b-grey-scales-s09: #eeeeee;
    --colors-b-grey-scales-s10: #fafafa;
    --colors-b-info-scale-s00: #00005e;
    --colors-b-info-scale-s01: #00006b;
    --colors-b-info-scale-s02: #000095;
    --colors-b-info-scale-s03: #0000b3;
    --colors-b-info-scale-s04: #0012d2;
    --colors-b-info-scale-s05: #0B2EF1;
    --colors-b-info-scale-s06: #4643ff;
    --colors-b-info-scale-s07: #6857ff;
    --colors-b-info-scale-s08: #9477ff;
    --colors-b-info-scale-s09: #af8dff;
    --colors-b-info-scale-s10: #bd98ff;
    --colors-b-yellow-scale-s00: #604b00;
    --colors-b-yellow-scale-s01: #6d5800;
    --colors-b-yellow-scale-s02: #9b7f00;
    --colors-b-yellow-scale-s03: #bb9b00;
    --colors-b-yellow-scale-s04: #dbb719;
    --colors-b-yellow-scale-s05: #FCD53F;
    --colors-b-yellow-scale-s06: #ffec57;
    --colors-b-yellow-scale-s07: #ffff6f;
    --colors-b-yellow-scale-s08: #ffff92;
    --colors-b-yellow-scale-s09: #ffffaa;
    --colors-b-yellow-scale-s10: #ffffb5;
    --colors-s-bg-default-initial: #eeeeee;
    --colors-s-bg-default-hover: #0b0b0b;
    --colors-s-bg-elevated-initial: #fafafa;
    --colors-s-bg-elevated-hover: #eeeeee;
    --colors-s-bg-elevated-active: #8888881a;
    --colors-s-bg-action-low-initial: #eeeeee;
    --colors-s-bg-action-low-hover: #d6d6d6;
    --colors-s-bg-action-high-initial: #273dffff;
    --colors-s-bg-action-high-hover: #0023df;
    --colors-s-fg-default-initial: #0b0b0b;
    --colors-s-fg-default-hover: #181818;
    --colors-s-fg-elevated-initial: #0b0b0b;
    --colors-s-fg-elevated-hover: #181818;
    --colors-s-fg-action-low-initial: #273dffff;
    --colors-s-fg-action-low-hover: #0023df;
    --colors-s-fg-action-high-initial: #fafafa;
    --colors-s-fg-action-high-hover: #eeeeee;
    --sizes-b-screen-height: dvh;
    --sizes-b-full: 100%;
    --sizes-b-sizing-base: 20;
    --fonts-b-body: Inter, sans-serif;
    --fonts-b-heading: Roboto Mono, sans-serif;
    --fonts-s-heading: Roboto Mono, sans-serif;
    --fonts-s-body: Inter, sans-serif;
    --font-sizes-b-h1: 1.4em;
    --font-sizes-b-h2: 1.3em;
    --font-sizes-b-h3: 1.2em;
    --font-sizes-b-h4: 1.1em;
    --font-sizes-b-h5: 1.1em;
    --font-sizes-b-h6: 1em;
    --font-sizes-b-body: 1em;
    --font-sizes-s-h1: 1.4em;
    --font-sizes-s-h2: 1.3em;
    --font-sizes-s-h3: 1.2em;
    --font-sizes-s-h4: 1.1em;
    --font-sizes-s-h5: 1.1em;
    --font-sizes-s-h6: 1em;
    --font-sizes-s-body: 1em;
    --spacing-b-padding-none: 0;
    --spacing-b-padding-xxs: 4px;
    --spacing-b-padding-xs: 8px;
    --spacing-b-padding-s: 12px;
    --spacing-b-padding-m: 16px;
    --spacing-b-padding-l: 20px;
    --spacing-b-padding-xl: 24px;
    --spacing-b-padding-xxl: 28px;
    --spacing-b-margin-none: 0;
    --spacing-b-margin-xxs: 2px;
    --spacing-b-margin-xs: 4px;
    --spacing-b-margin-s: 6px;
    --spacing-b-margin-m: 8px;
    --spacing-b-margin-l: 10px;
    --spacing-b-margin-xl: 12px;
    --spacing-b-margin-xxl: 14px;
    --spacing-s-padding-none: 0;
    --spacing-s-padding-xxs: 4px;
    --spacing-s-padding-xs: 8px;
    --spacing-s-padding-s: 12px;
    --spacing-s-padding-m: 16px;
    --spacing-s-padding-l: 20px;
    --spacing-s-padding-xl: 24px;
    --spacing-s-padding-xxl: 28px;
    --spacing-s-margin-none: 0;
    --spacing-s-margin-xxs: 2px;
    --spacing-s-margin-xs: 4px;
    --spacing-s-margin-s: 6px;
    --spacing-s-margin-m: 8px;
    --spacing-s-margin-l: 10px;
    --spacing-s-margin-xl: 12px;
    --spacing-s-margin-xxl: 14px;
    --font-weights-b-h1: 800;
    --font-weights-b-h2: 600;
    --font-weights-b-h3: 400;
    --font-weights-b-h4: 400;
    --font-weights-b-h5: 400;
    --font-weights-b-h6: 400;
    --font-weights-b-body: 400;
    --font-weights-s-h1: 800;
    --font-weights-s-h2: 600;
    --font-weights-s-h3: 400;
    --font-weights-s-h4: 400;
    --font-weights-s-h5: 400;
    --font-weights-s-h6: 400;
    --font-weights-s-body: 400;
    --radii-b-radius-none: 0;
    --radii-b-radius-xs: 0.5px;
    --radii-b-radius-s: 1px;
    --radii-b-radius-m: 2px;
    --radii-b-radius-l: 3px;
    --radii-b-radius-xl: 4px;
    --radii-s-radius-none: 0;
    --radii-s-radius-xs: 0.5px;
    --radii-s-radius-s: 1px;
    --radii-s-radius-m: 2px;
    --radii-s-radius-l: 3px;
    --radii-s-radius-xl: 4px;
    --colors-c\.app-bg: #eeeeee;
    --colors-c\.app-fg: #0b0b0b;
    --colors-c\.header-bg: #fafafa;
    --colors-c\.header-fg: #0b0b0b;
    --colors-c\.sidebar-bg-initial: #fafafa;
    --colors-c\.sidebar-bg-hover: #eeeeee;
    --colors-c\.sidebar-fg-initial: #0b0b0b;
    --colors-c\.sidebar-element-bg-initial: #fafafa;
    --colors-c\.sidebar-element-bg-hover: #eeeeee;
    --colors-c\.sidebar-element-bg-active: #8888881a;
    --colors-c\.sidebar-element-fg-initial: #0b0b0b;
    --colors-c\.sidebar-element-fg-hover: #181818;
    --colors-c\.document-viewer-bg: #fafafa;
    --colors-c\.document-viewer-fg: #0b0b0b;
    --colors-c\.button-primary-bg-initial: #273dffff;
    --colors-c\.button-primary-bg-hover: #0023df;
    --colors-c\.button-primary-fg-initial: #fafafa;
    --colors-c\.button-primary-fg-hover: #eeeeee;
    --colors-c\.button-secondary-bg-initial: #eeeeee;
    --colors-c\.button-secondary-bg-hover: #d6d6d6;
    --colors-c\.button-secondary-fg-initial: #273dffff;
    --colors-c\.button-secondary-fg-hover: #0023df;
    --colors-c\.button-menu-bg-initial: #fafafa;
    --colors-c\.button-menu-bg-hover: #eeeeee;
    --colors-c\.button-menu-fg-initial: #0b0b0b;
    --colors-c\.button-menu-fg-hover: #181818;
    --colors-c\.button-menu-item-bg-initial: #eeeeee;
    --colors-c\.button-menu-item-bg-hover: #d6d6d6;
    --colors-c\.button-menu-item-fg-initial: #273dffff;
    --colors-c\.button-menu-item-fg-hover: #0023df;
    --colors-c\.snackbar-bg: #fafafa;
    --colors-c\.snackbar-fg: #0b0b0b;
    --colors-c\.input-label-color: #0b0b0b;
    --colors-c\.input-bg: #eeeeee;
    --colors-c\.input-fg: #0b0b0b;
    --spacing-c\.header-padding: 16px;
    --spacing-c\.sidebar-element-gap: 8px;
    --spacing-c\.sidebar-element-padding: 8px;
    --spacing-c\.sidebar-element-padding-left: 16px;
    --spacing-c\.sidebar-group-children-padding-left: 28px;
    --spacing-c\.document-viewer-padding: 16px;
    --spacing-c\.document-viewer-gap: 16px;
    --spacing-c\.document-viewer-zoom-gap: 8px;
    --spacing-c\.button-primary-padding: 12px;
    --spacing-c\.button-primary-gap: 4px;
    --spacing-c\.button-secondary-padding: 12px;
    --spacing-c\.button-secondary-gap: 4px;
    --spacing-c\.button-menu-padding: 12px;
    --spacing-c\.button-menu-item-padding: 12px;
    --spacing-c\.button-menu-item-gap: 4px;
    --spacing-c\.snackbar-padding: 20px;
    --spacing-c\.snackbar-margin: 14px;
    --spacing-c\.input-container-gap: 4px;
    --spacing-c\.input-padding: 8px;
    --font-sizes-c\.app-h1: 1.4em;
    --font-sizes-c\.app-h2: 1.3em;
    --font-sizes-c\.app-h3: 1.2em;
    --font-sizes-c\.app-h4: 1.1em;
    --font-sizes-c\.app-h5: 1.1em;
    --font-sizes-c\.app-h6: 1em;
    --font-weights-c\.app-h1: 800;
    --font-weights-c\.app-h2: 600;
    --font-weights-c\.app-h3: 400;
    --font-weights-c\.app-h4: 400;
    --font-weights-c\.app-h5: 400;
    --font-weights-c\.app-h6: 400;
    --radii-c\.sidebar-element-radius: 3px;
    --radii-c\.button-primary-radius: 2px;
    --radii-c\.button-secondary-radius: 2px;
    --radii-c\.button-menu-radius: 2px;
    --radii-c\.button-menu-item-radius: 2px;
    --radii-c\.snackbar-radius: 3px;
    --radii-c\.input-radius: 1px;
}
}